@font-face {
  font-family: "kirafont"; /* Project id 4964552 */
  src: url('iconfont.woff2?t=1752361792796') format('woff2'),
       url('iconfont.woff?t=1752361792796') format('woff'),
       url('iconfont.ttf?t=1752361792796') format('truetype');
}

.kirafont {
  font-family: "kirafont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-spotify:before {
  content: "\ebf4";
}

.icon-itunes:before {
  content: "\e7bb";
}

.icon-netease-cloud-music:before {
  content: "\e600";
}

.icon-coolapk:before {
  content: "\e607";
}

.icon-xiaohongshu:before {
  content: "\e657";
}

.icon-github:before {
  content: "\e60f";
}

.icon-facebook:before {
  content: "\e60e";
}

.icon-zhihu:before {
  content: "\e60d";
}

.icon-hoyolab:before {
  content: "\e60b";
}

.icon-instagram:before {
  content: "\e609";
}

.icon-bilibili:before {
  content: "\e608";
}

.icon-bluesky:before {
  content: "\e601";
}

.icon-x:before {
  content: "\e602";
}

.icon-youtube:before {
  content: "\e603";
}

.icon-threads:before {
  content: "\e604";
}

.icon-weibo:before {
  content: "\e606";
}

